* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: #000000;
  }
  ul li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .home-page .header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
  }
  .logo a {
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
  }
  
  .header nav ul li {
    display: inline-block;
    padding: 0px 10px;
  }
  .header nav ul li a {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .search-bar {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
  }
  .search-bar img {
    position: absolute;
    right: 10px;
    top: 50%;
    bottom: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
  }
  
  .search-bar input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: inherit;
    text-align: center;
  }
  
  .welcome-background-page {
    width: 100%;
    background-image: url(../images/course-page.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: #ffffff;
    text-transform: capitalize;
  }
  .welcome-background-page .content h2 {
    font-size: 45px;
    font-weight: 500;
  }
  .welcome-background-page .content p {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    line-height: 2rem;
  }
  .welcome-background-page .content input {
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    text-transform: capitalize;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.welcome-background-page .content .buttons {
    width: 50%;
    justify-self: center;

}
  .welcome-background-page .content .buttons button {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    padding:10px;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 6px 13px 0px #0000001a;
    cursor: pointer;
  }
  .our-corses {
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .our-corses h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .courses {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
   
  }
  .courses figure {
    width: calc((100% - 20px)/3);
  }
  .courses figure img {
    width: 100%;
    height: 100%;
  }
  .courses figcaption {
    text-align: center;
    text-transform: capitalize;
  }
  .courses figcaption h3{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0px;
   
  }
  .courses figcaption p{
    font-size: 1.2rem;
    font-weight: 500;
   
  }
  .details-of-course {
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .details-of-course h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .details-of-course .details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2rem;
    margin-top: 10px;
  }

  .details-of-course figure img {
    width: 30%;
    height: 100%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
  .details-of-course .details figure {
    height: 150px;
    width: calc((100% - 20px)/2);
    padding: 1rem;
    display: flex;
    gap: 10px;
    border: 1px solid #2e2c2c;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-transform: capitalize;
}
  .details-of-course .details figure h3 ,.benefits-of-course .benefits figure h3 {
    font-size: 1.2rem;
    font-weight: 500;
    
  }
  .details-of-course .details figure p ,.details-of-course .details figure p{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;


  }


  .benefits-of-course {
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .benefits-of-course h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .benefits-of-course .benefits {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
    padding: 2rem;
    margin-top: 10px;
  }

  .benefits-of-course figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  .benefits-of-course .benefits figure {
    height: 150px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-transform: capitalize;
}